body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#F5F5F5;
}

nav{
    background:#1E3A5F;
    color:white;
    padding:20px;
}

.hero{
    text-align:center;
    padding:100px 20px;
    background:white;
}

.hero h1{
    font-size:48px;
    color:#1E3A5F;
}

.hero p{
    font-size:22px;
}

.button{
    display:inline-block;
    background:#C1121F;
    color:white;
    text-decoration:none;
    padding:12px 25px;
    border-radius:8px;
    margin-top:20px;
}

.about{
    padding:60px 20px;
    text-align:center;
}

.courses{
    padding:60px 20px;
    text-align:center;
}

.course-card{
    background:white;
    max-width:500px;
    margin:auto;
    padding:25px;
    border-radius:10px;
}
nav{
    background:#1E3A5F;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
}

.logo{
    color:white;
    font-weight:bold;
    font-size:22px;
}

nav ul{
    list-style:none;
    display:flex;
    gap:20px;
    margin:0;
    padding:0;
}

nav a{
    color:white;
    text-decoration:none;
}

nav a:hover{
    color:#C1121F;
}
footer{
    background:#1E3A5F;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:50px;
}
.logo img{
    height:60px;
}
